@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="titulo-1">HOLA SOMOS</p->
    <p class="titulo-2">TECSA</p>
    <p class="subtitulo-1">Ofresemos soluciones digitales que trasnforman empresas.</p>
    <button class="botton"><a class="url" asp-page="/Servicios">Conoce nuestros servicios</a></button>
</div>
